{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter d-flex flex-column align-items-center justify-content-center">
        <h5 class="mb-3">Subscribe for our newsletter</h5>
        <div class="newsletter d-flex align-items-center justify-content-center">
            {% csrf_token %}
            <input type="email" class="form-control" placeholder="e-mail address" id="subscribe-input">
            <button class="p-1 ps-3 pe-3 border" style="height: 37px; border-radius: 3px; margin-left:-5px; background: white; border:0; font-family: 'Josefin Sans', sans-serif;"
                    id="join">Join
            </button>
        </div>
        <script>

            const button = document.getElementById('join')


            button.addEventListener('click', (event) => {
                function validateEmail(email) {
                    const emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return emailRegex.test(email);
                }

                let subscribeInput = document.getElementById('subscribe-input').value;
                const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

                const isValid = validateEmail(subscribeInput);
                const data = {email: subscribeInput, csrfmiddlewaretoken: csrfToken};
                event.preventDefault();
                console.log("clicked")
                if (isValid) {
                    console.log("email is valid")
                    fetch('/subscribe/', {
                        method: 'POST', headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify(data),
                    }).then((response) => response.json())
                        .then((data) => {
                            // Handle the response from the server
                            console.log(data)
                            document.getElementById('subscribe-input').setAttribute('disabled', '')
                            button.innerHTML = '&#10003;'
                            button.setAttribute('disabled', '')
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });

                }
            })


        </script>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <a href="index.html" class="logo">
                        <div style="color:black; margin-bottom: 0rem;!important; font-size: 1.3rem;">ANO<span
                                style="color:#106eea;">V</span>IN
                        </div>
                    </a>

                    <p style="color:black;">
                        ul. Zborsko br. 2b <br>
                        Skopje, 1000<br>
                        Macedonia <br><br>
                        <strong>Phone:</strong> +389 74 747 288<br>
                        <strong>Email:</strong> anovindooel@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Stack</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Portfolio</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <div class="social-links mt-3">
                        <a href="https://github.com/starscream32/jum-journal-system/tree/master" class="github"><i
                                class="bx bxl-github"></i></a>
                        <a href="https://www.linkedin.com/in/aleksej-anovski-50aaab21a/" class="linkedin"><i
                                class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>anovin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">anovski</a>
        </div>
    </div>
</footer><!-- End Footer -->
