
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: white;
    text-align: right;
    background-color: #292929;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    border-radius: 50px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}!important

.accordion-flush .accordion-item .accordion-button {

}!important

.accordion-body {
    padding: 1rem 1.25rem;
    background-color: #343835;
}!important

.accordion-button:not(.collapsed) {
    color: #red;
    background-color: #000;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}!important

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}