<section class="bg-light" style="padding:25px;">

   <div class="container">
  <div class="row g-2">
    <div class="col-sm">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
    <div class="col-sm">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
      <div class="col-sm">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
  </div>
</div>
    <center><h6>This is my footer</h6></center>
</section>