<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center" style="font-size:16px;">
            <a href="https://github.com/starscream32/jum-journal-system/tree/master" class="github p-1 me-2"><i
                    class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/aleksej-anovski-50aaab21a/" class="linkedin"><i
                    class="bi bi-linkedin"></i></a>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a class="bi bi-envelope d-flex align-items-center"><a href="#contact">anovindooel@gmail.com</a></a>
            <a class="bi bi-phone d-flex align-items-center ms-4"><span>+389 74 747 288</span></a>

        </div>
    </div>
</section>


<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="https://anovin.mk" class="logo">
            <div style="color:black; font-size: 1.6rem; margin-top:5px;">ANO<span
                    style="color:#106eea;">V</span>IN
            </div>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'tutorials' %}">Tutorials</a></li>

                <li><a class="nav-link scrollto" href="#services">Stack</a></li>

                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
